<header class="header theiaStickySidebar">
  <div class="profile-img">
    <img src="assets/img/img-profile.jpg" class="img-responsive" alt=""/>
  </div>
  <div class="content">
    <h1>Hi, I'm Stephen</h1>
    <span class="lead">Senior Software Developer (5+ years)</span>

    <div class="about-text">
      <p>
        Passionate about my job, I strongly believe that clean code makes great and durable projects
      </p>

      <p><b>Currently available in Australia</b>.</p>
    </div>


    <ul class="social-icon">
      <li><b>Find out more:</b></li>
      <li><a href="https://www.linkedin.com/in/stephen-mehaut/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li><a href="https://github.com/Steph0"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="assets/resume.pdf"><i class="fa fa-file-word-o" aria-hidden="true"></i></a></li>
    </ul>

    <p>I created this website using Angular & Boostrap. Hosted on Google Cloud Platform.</p>
  </div>

</header>
<!-- .header-->
